.landingpage-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 50%);
  border: 0;
  padding: 10px;
  border-radius: 8px;
  height: 46px;
  font-size: 20px;
  font-weight: bold;
}

.active {
  background-color: white;
  color: black;
}

#button-container {
  padding-left: 3.3%;
}
